{% extends "base.html" %}

{% block title %} {{a.name}} {% endblock %}


{% block main %}
{% endblock %}


{% block content %}
<div id='artist' class='container'>
    <div class='row'>
        <div class='col-sm-7 col-md-5 col-lg-6 col-lg-offset-1 col-md-offset-1'>
            <h4>About the ACL Internet Database</h4>
            <p>The ACL Internet Database is a website made to showcase all things ACL.  It gives detailed information on the Stages, Sponsors, and Artists throughout the years in an easy to consume format.  The design of the database allows intuitive transitions whether it's year to year or finding what artist played on what stage.</p>
            <h4>Tools Used</h4>
            <ul>
                <li>Django Rest Framework</li>
                <li>Twitter Bootstrap</li>
                <li>Django Haystack</li>
                <li>Woosh</li>
                <li>Apiary</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}