{% extends "base.html" %}

{% block title %}Artists{% endblock %}

{% block main %}
<div class='container'>
  <div class='row text-center'>
    <div>
      <h1 class='title'>2014 Artist Lineup</h1>
  <ul id='artists' class='list-inline'>
  {% if artist_list %}
    {% for artist in artist_list %}
      <li><h2><a href='{{artist.get_url}}'>{{artist.name}}</a></h2></li>
    {% endfor %}
  {% else %}
    <li><h2>There are no artists. Check back later</h2></li>
  {% endif %}
  </ul>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}
{% endblock %}