{% extends "base.html" %}

{% block title %}Sponsors{% endblock %}

{% block main %}
<div class='container'>
  <div class='row text-center'>
    <div>
      <h1 class='title'>2014 Sponsors</h1>
    <ul class='list-inline text-center'>
    {% if sponsor_list %}
        {% for sponsor in sponsor_list %}
            <li><h2><a href='{{sponsor.get_url}}'><img src='{{sponsor.photo}}'></a></h2></li>
        {% endfor %}
    {% else %}
        <li><h2>No sponsors in the database</h2></li>
    {% endif %}
    </ul>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}
{% endblock %}