{% extends "base.html" %}

{% block title %}{{ s.name }}{% endblock %}

{% block main %}
{% endblock %}



{% block content %}
<div id='sponsor' class='container'>
    <div class='row'>
        <div class='col-sm-7 col-md-5 col-lg-6 col-lg-offset-1 col-md-offset-1'>
            <div class='media'>
                <a class="">
                    <img class="media-object img-thumbnail" src="{{m.photo}}">
                </a>
                <div class="media-body">
                    <h2 class="media-heading">{{s.name}}</h2>
                    <h4><small><span title='BUSINESS TYPE' class='glyphicon glyphicon-briefcase'></span> </small>{{s.industry}}</h4>
                    <h4><small><span title='WEBSITE' class='glyphicon glyphicon-link'></span> </small><a href='{{m.webpage}}'>{{m.webpage}}</a></h4>
                    <a href="{{m.youtube}}"><img style="border:0;" src="http://icons.iconarchive.com/icons/designbolts/flat-social-media/256/Youtube-icon.png" alt="HTML tutorial" width="60" height="60"></a>
                    <a href="{{m.facebook}}"><img style="border:0;" src="http://icons.iconarchive.com/icons/designbolts/flat-social-media/256/Facebook-icon.png" alt="HTML tutorial" width="60" height="60"></a>
                    <a href="{{m.twitter}}"><img style="border:0;" src="http://icons.iconarchive.com/icons/designbolts/flat-social-media/256/Twitter-icon.png" alt="HTML tutorial" width="60" height="60"></a>
                </div>
            </div>
            <p>{{m.bio}}</p>
            <h4 class='csv'><h3> Artists: </h3>
            {% if artists %}

                        {% for artist in artists %}
                        <dl>
                            <li><h2 style='font-family:courier'><a href='{{artist.get_absolute_url}}' ><button type='button' class='btn btn-default btn-lg'>{{artist.name}}</button></a></h2></li>
                        </dl>
                        {% endfor %}
                        </dl>

            {% else %}
             &nbsp;
             <pre> No Artist information published yet, stay tuned...</pre>
            {% endif %}
            </h4>

            <h4 class='csv'><h3>Stages:</h3>
            {% if stages %}
                {% for stage in stages %}
                <dl>
                <li><h2 style='font-family:courier'><a href='{{stage.get_absolute_url}}' ><button type='button' class='btn btn-default btn-lg'>{{stage.name}}({{stage.year.year}})</button></a></h2></li>
                </dl>
                {% endfor %}

            {% else %}
            &nbsp;
             <p> No Stage location information published yet, stay tuned...</p>
            {% endif %}
            </h4>
        </div>
        <div class='col-sm-5 col-md-5 col-lg-4'>
            {% if m.youtubevideo %}
            <!-- 4:3 aspect ratio -->
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class='embed-responsive-item' src='{{m.youtubevideo}}?rel=0' frameborder="0" allowfullscreen></iframe>
            </div>

            {% endif %}
            <a class="twitter-timeline"  data-widget-id="492504488607903744" data-screen-name = '{{m.twitterwidget}}' >Tweets by @{{m.twitterwidget}}</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

    </div>
</div>
{% endblock %}
