{% extends "base.html" %}

{% block title %}Sponsors{% endblock %}

{% block main %}
<div class='container'>
  <div class='row text-center'>
    <div>
  <ul id='sponsors' class='list-inline'>
  {% if sp %}

  <!--
    {% for a in artists %}
      <li><h2><a href="{{a.get_absolute_url}}">{{a.name}}</a></h2></li>
    {% endfor %}
-->

    {% for t in years %}
        <h1 class='title'>{{t}} Sponsors Lineup</h1>
        {% for s in sp %}
        <dl>
            {% if s.get_yr == t %}
                <li><h2> <a href="{{s.sponsor.get_absolute_url}}">{{s.sponsor.name}}</a></h2></li>
            {% endif %}
        </dl>
        {% endfor %}

    {% endfor %}

 {% else %}
    <li><h2>There are no sponsors. Check back later</h2></li>
  {% endif %}
  </ul>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}
{% endblock %}