{% extends "base.html" %}

{% block title %}Stages{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-8 col-sm-push-4 col-md-8 col-md-push-4'>
            <img id='map' src='https://farm4.staticflickr.com/3914/14666561069_b53db383ea_b.jpg' />
        </div>
        <div class='col-sm-4 col-sm-pull-8 col-md-4 col-md-pull-8'>
            {% if medias %}

            {% for t in years %}
                <h1 class='title'>{{t}} Stages Lineup</h1>
                {% for s in mediae %}
                <dl>
                    {% if s.year.year == t %}
                        <li><h2> <a href="{{s.get_absolute_url}}"> {{s.stage.location}} - {{ s.name }} </a></h2></li>
                    {% endif %}
                </dl>
                {% endfor %}

            {% endfor %}

            {% else %}
                <li><h2>There are no stages. Check back later</h2></li>
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}


{% block content %}
{% endblock %}