{% extends "base.html" %}

{% block title %}{{ stage.name }}{% endblock %}

{% block main %}
{% endblock %}


{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-1'>
            <h1>{{ stage.name }}</h1>
            <div class='clearfix'>
                <img class='col-xs-12 col-sm-5 col-md-6 col-lg-5' src='/media/hondastage.png'>
                <h4>Sponsor: Honda</h4>
                <h4>Artists: Pearl Jam, Outkast, Eminem</h4>
                <p>The Honda stage is one of seven stages at the festival, and will include such artists as Eminem, Fitz and the Tantrums, and Phantogram</p>
            </div>
            <div class='embed-container'>
                <iframe class='img img-responsive' src="//www.youtube.com/embed/08H7_vTuq1U?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class='col-md-4'>
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/PearlJam"  data-chrome="nofooter noscrollbar" data-widget-id="489195429154652161">Tweets by @PearlJam</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
{% endblock %}