{% extends 'base.html' %}
{% load highlight %}
{% block title %}Search{% endblock %}

{% block content %}
<div class='container'>
    <h2>Search</h2>

    <form method="get" action=".">
         <table>
            {{ form.as_p }}
            <tr>

                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>
                <p>
                {% for result in page.object_list %}
                    {% if result.model_name == 'artist'%}

                    <a href="{{ result.object.get_absolute_url }}">{% highlight result.object.name with query %}</a>
                    <p>Origin: {% highlight result.object.origin with query %}, Record Label: {% highlight result.object.label with query %}, Genre: {% highlight result.object.genre with query %}</p>
                    <p>{% highlight result.object.artistmedia_set.first.bio with query %}</p>

                    {% elif result.model_name == 'sponsor'%}
                    <a href="{{ result.object.get_absolute_url }}">{% highlight result.object.name with query %}</a>
                    <p> Industry: {{result.object.industry}}</p>
                    <p>{% highlight result.object.sponsormedia_set.first.bio with query %}</p>

                    {% elif result.model_name == 'stagemedia'%}
                    <div class="media">
                        <!--<a class="pull-left" href="{{ result.object.get_absolute_url }}">-->
                        <a class="pull-left" href="{{result.object.photo}}" data-lightbox="image-{{result.object.id}}" data-title="{{result.object.name}}">
                            <img class="media-object" width='120px' src="{{result.object.photo}}" alt="...">

                            </a>
                        <!--</a>-->
                        <div class="media-body">
                            <h4 class="media-heading">
                        <a class="pull-left" href="{{ result.object.get_absolute_url }}">{% highlight result.object.name with query %} ({{ result.object.year.year }})</a></h4>
                        </div>
                    </div>

                    {% else %}
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
                    {% endif %}
                    &nbsp;
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
         No Results found.
        {% endif %}
    </form>
</div>
{% endblock %}