{% extends "base.html" %}
{% block title %}Stage: Miller Lite Stage{% endblock %}

{% block content %}
<h3 style="background-color:FF3333;border-radius:25;width:70;">Sponsor </h3>
<div style="background-color:black;height:5px;width:1809px; margin-top:-10px;margin-bottom:50px;border-radius:10px"></div>

<img src="http://livedesignonline.com/site-files/livedesignonline.com/files/uploads/2013/08/1.jpg" height="400" width = "400"style="margin-left:300;margin-top:-20px"/>
<div style="background-color:black;height:5px;width:1809px; margin-top:30px;margin-bottom:0px;border-radius:10px"></div>
<h3> Stage: Miller Lite Stage</h3>
<h3> Sponsor: <a href="/cs373/miller-lite/">Miller Lite </a></h3>
<h3> Artists on stage: <a href="/cs373/pearljam/">Pearl Jam </a></h3>
<h3> Website: <a href="http://www.millerlite.com">www.millerlite.com</a> </h3>
<h3> Facebook: <a href="https://www.facebook.com/HondaStage">www.facebook.com/HondaStage</a>

<h3> The Miller Lite stage is one of seven stages at the festival, and will include such artists as Pearl Jam, Lorde, and the Glitch Mob</h3>

<h3><center><a href="http://www.youtube.com/channel/MillerLite">Youtube Channel</a></h3></center>

<div style="background-color:black;height:5px;width:1809px; margin-top:30px;border-radius:10px"></div>


<object style="margin-top:-10px">
<div align="left" style="float:left;z-index:0;height:550px;width:45%;border-radius:10px">

<object align="left" style="float:left;z-index:0">
<iframe width="100%" src="//www.youtube.com/embed/SS672gJ2ISU" frameborder="0" allowfullscreen></iframe></object></div>

<div align="left" style="float:left;z-index:-2;background-color:black;height:550px;width:5px;border-radius:10px"></div>

<div align="right" style="float:left;z-index:-3;height:550px;width:45%;border-radius:10px">

<object align="left" style="width:100%;height:100%;float:left;z-index:-3">
<a class="twitter-timeline" href="https://twitter.com/MillerLite" data-widget-id="486665526215581696">Tweets by @MillerLite</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</object>
</div>
</object>


{% endblock %}
