{% extends "base.html" %}

{% block title %}Samsung Galaxy{% endblock %}

{% block content %}
<body style="background-color:99FF99">
<h3 style="background-color:FF3333;border-radius:25;width:70;">Sponsor </h3>
<div style="background-color:black;height:5px;width:1809px; margin-top:-10px;margin-bottom:50px;border-radius:10px"></div>

<img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/7c/Smartphone.jpeg/1280px-Smartphone.jpeg" height="400" width = "400"style="margin-left:300;margin-top:-20px"/>
<div style="background-color:black;height:5px;width:1809px; margin-top:30px;margin-bottom:0px;border-radius:10px"></div>
<h3> Sponsor: Samsung Galaxy </h3>
<h3> Headquarters: Samsung Town, Seoul </h3>
<h3> Stage: <a href='/stages/3/'>Samsung</a></h3>
<h3> Artists: <a href="/artists/3/">Outkast</a></h3>
<h3> Website: <a href="http://www.samsung.com">www.samsung.com</a> </h3>
<h3> Facebook: <a href="www.facebook.com/SamsungMobileUSA/app_544972968896298">www.facebook.com/SamsungMobileUSA</a>

<h3> Bio: Samsung Galaxy (stylized as Samsung GALAXY) is a series of Android-powered mobile computing devices designed, manufactured and marketed by Samsung Electronics. The product line includes the Galaxy S series of high-end smartphones, the Galaxy Tab series of tablets, the Galaxy Note series of tablets and phablets with the added functionality of a stylus and the first version of the Galaxy Gear Smartwatch, with later versions dropping the Galaxy branding.

<h3><center><a href="http://www.youtube.com/channel/UCWwgaK7x0_FR1goeSRazfsQ">Youtube Channel</a></h3></center>

<div style="background-color:black;height:5px;width:1809px; margin-top:30px;border-radius:10px"></div>


<object style="margin-top:-10px">
<div align="left" style="float:left;z-index:0;height:550px;width:45%;border-radius:10px">

<object align="left" style="float:left;z-index:0">
<iframe width="100%" src="//www.youtube.com/embed/kPHYJKKEGV4" frameborder="0" allowfullscreen></iframe></object></div>

<div align="left" style="float:left;z-index:-2;background-color:black;height:550px;width:5px;border-radius:10px"></div>

<div align="right" style="float:left;z-index:-3;height:550px;width:45%;border-radius:10px">

<object align="left" style="width:100%;height:100%;float:left;z-index:-3">
<a class="twitter-timeline" href="https://twitter.com/SamsungMobile" data-widget-id="486303754577117184">Tweets by @SamsungMobile</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</object>
</div>
</object>



{% endblock %}
